<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<title>
    About CKD
</title> 
<style>
body{
        background-image: url('../static/ckd1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
}
</style>
 <link href="#" rel="stylesheet">
</head>
<body>

Chronic kidney disease (CKD) poses a significant burden to the
healthcare system due to its increasing prevalence, undue risk of developing
end-stage renal disease, and negative morbidity and mortality prognosis.
Unexpectedly, it turned into an international fitness crisis. An unhealthy diet
and inadequate water intake are the main causes of this disease. Without a
kidney, you can stay most effectively 18 days on average, but this requires a
kidney transplant and dialysis. Having a reliable strategy for predicting CKD in
its early stages is critical. Loss of kidney function is a hallmark of chronic kidney
disease, commonly known as chronic renal failure. Waste products and excess
water are removed from the blood by the kidneys and excreted as urine. As
chronic kidney disease progresses, dangerous levels of water, electrolytes, and
waste products can build up in the body. When chronic kidney disease first
develops, people may not have many signs or symptoms. Kidney disease may
go unnoticed until it is advanced. The goal of treating chronic kidney disease is
usually to slow the progression of kidney damage by treating the underlying
cause. But stopping the cause of kidney disease didn't stop the damage from
getting worse.Without artificial filtration, end-stage renal failure from chronic
kidney disease is fatal.
</body>
<footer>
    <div class="footer-copyright text-center">&copy; Developed with ❤️</i> by
        <a href="help" class="white-text" target="_blank">PNT2022TMID16583</a>.
      </div>
</footer>
</html>

